# OS
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Node
node_modules/
dist/
build/

# Go
/backend/backend
/backend/cmd/*/main
*.exe
*.test

# Entorno
.env
.env.local
*.log

# Temporales
*.tmp
*.bak
